.quanta-input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
  border-radius: var(--quanta-rounded-md);
  overflow: hidden;
  border: var(--quanta-border-width) solid var(--quanta-border-color);
  background-color: var(--white);
}

.quanta-input-icon-left {
  display: flex;
  align-items: center;
  padding: 0 var(--quanta-space-4);
  background: var(--quanta-slate-100);
  color: var(--quanta-text-muted);
  font-size: var(--quanta-text-sm);
}

.quanta-input {
  border: none;
  flex: 1;
  padding: var(--quanta-space-3) var(--quanta-space-3);
  font-size: var(--quanta-text-sm);
  background: transparent;
  color: var(--quanta-text-default);
  font-family: inherit;
}

.quanta-input:focus {
  outline: none;
  background: var(--white);
}

.quanta-input-button {
  background: var(--quanta-primary);
  color: var(--white);
  border: none;
  padding: 0 var(--quanta-space-4);
  cursor: pointer;
  font-size: var(--quanta-text-sm);
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
}

.quanta-input-button:hover {
  background: var(--quanta-primary-hover);
}

/* Dark mode */
html[data-theme="dark"] .quanta-input-group {
  background-color: transparent;
  border-color: var(--quanta-border-color);
}

html[data-theme="dark"] .quanta-input {
  color: var(--quanta-text-light);
}

html[data-theme="dark"] .quanta-input:focus {
  outline: none;
  background: var(--bg-slate-800);
}

html[data-theme="dark"] .quanta-input-icon-left {
  background: var(--quanta-slate-700);
  color: var(--quanta-text-light-muted);
}

html[data-theme="dark"] .quanta-input-button {
  background: var(--quanta-primary);
}

html[data-theme="dark"] .quanta-input-button:hover {
  background: var(--quanta-primary-hover);
}