.quanta-stepper,
.quanta-stepper-line {
  display: flex;
  align-items: center;
  font-family: var(--quanta-font-primary);
  position: relative;
  width: 100%;
}

.quanta-stepper-line {
  justify-content: space-between;
  padding: var(--quanta-space-2) 0;
}

.quanta-stepper-line .quanta-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  text-align: center;
}

.quanta-stepper-line .quanta-step-icon {
  width: 1rem;
  height: 1rem;
  border-radius: var(--quanta-rounded-full);
  background-color: var(--quanta-border-color);
  border: 2px solid var(--quanta-border-color);
  z-index: 1;
}

.quanta-stepper-line .quanta-step-label {
  margin-top: var(--quanta-space-2);
  font-size: var(--quanta-text-sm);
  color: var(--quanta-text-default);
}

.quanta-stepper-line .quanta-step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 50%;
  height: 2px;
  width: 100%;
  background-color: var(--quanta-border-color);
  z-index: 0;
  transform: translateX(0);
}

.quanta-stepper-line .quanta-step[data-status="completed"]::after {
  background-color: var(--quanta-primary);
}

.quanta-step[data-status="completed"] .quanta-step-icon {
  background-color: var(--quanta-primary);
  border-color: var(--quanta-primary);
}

.quanta-step[data-status="active"] .quanta-step-icon {
  background-color: var(--quanta-bg-default);
  border-color: var(--quanta-primary);
}

.quanta-step[data-status="active"] .quanta-step-label {
  color: var(--quanta-primary);
}

.quanta-step[data-status="upcoming"] .quanta-step-icon {
  background-color: var(--quanta-border-color);
  border-color: var(--quanta-border-color);
}

.quanta-step[data-status="upcoming"] .quanta-step-label {
  color: var(--quanta-slate-400);
}

html[data-theme="dark"] .quanta-stepper-line .quanta-step-icon {
  background-color: var(--quanta-slate-700);
  border-color: var(--quanta-slate-700);
}

html[data-theme="dark"] .quanta-step[data-status="completed"] .quanta-step-icon {
  background-color: var(--quanta-primary);
  border-color: var(--quanta-primary);
}

html[data-theme="dark"] .quanta-step[data-status="completed"]::after {
  background-color: var(--quanta-primary);
}

html[data-theme="dark"] .quanta-step[data-status="active"] .quanta-step-icon {
  background-color: var(--quanta-bg-default);
  border-color: var(--quanta-primary);
}

html[data-theme="dark"] .quanta-step[data-status="upcoming"] .quanta-step-label {
  color: var(--quanta-slate-500);
}