.quanta-textarea-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.quanta-textarea {
  padding: var(--quanta-space-2) var(--quanta-space-3);
  border: var(--quanta-border-width) solid var(--quanta-border-color);
  border-radius: var(--quanta-rounded-md);
  resize: vertical;
  min-height: 100px;
  font-size: var(--quanta-text-sm);
  font-family: inherit;
  background: var(--white);
  color: var(--quanta-text-default);
  transition: border-color 0.3s ease;
  padding-bottom: var(--quanta-space-8);
}

.quanta-textarea:focus {
  border-color: var(--quanta-primary);
  outline: none;
  box-shadow: 0 0 0 2px var(--quanta-primary);
}

.quanta-char-count {
  font-size: var(--quanta-text-xs);
  color: var(--black);
  text-align: right;
  padding: var(--quanta-space-2) var(--quanta-space-4);
  border-radius: var(--quanta-rounded-md);
  background: var(--quanta-border-color);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

html[data-theme="dark"] .quanta-textarea {
  background-color: transparent;
  border-color: var(--quanta-border-color);
  color: var(--quanta-text-light);
}

html[data-theme="dark"] .quanta-char-count {
  color: var(--white);
}